.post {
  margin-bottom: 30px;
  margin-bottom: 30px;
}

.post-single .post-header {
  margin-bottom: 32px;
}

.post-single .tag-wrap {
  margin-bottom: 16px;
  margin-bottom: 0;
}

.post-single .tag-wrap .tag {
  margin: 0 2px 8px 0;
}

.post-single .post-title {
  margin-top: 0;
  margin-bottom: 24px;
}

.post-single .post-meta a {
  color: #3d4452;
  font-weight: 700;
}

.post-single .post-img-wrap {
  margin-bottom: 32px;
  position: relative;
}

.post-single .post-content {
  font-size: 1.125rem;
  line-height: 1.7;
  height: auto;
}

.post-single .post-content p {
  margin-bottom: 2rem;
}

.tag-pill {
  text-transform: uppercase;
  background-color: #ff1e56;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 0 12px;
  height: 28px;
  line-height: 28px;
  letter-spacing: 1px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 14px;
}

.post-title.h5 {
  font-size: 1.125rem;
}

.post-meta {
  font-size: .75rem;
  line-height: 1.3;
  font-size: .75rem;
  line-height: 1.3;
  position: static;
}

.post-meta .author {
  margin-right: 16px;
  position: relative;
}

.post-meta .pub-date {
  margin-right: 16px;
  position: relative;
  text-transform: capitalize;
}

.post-img-wrap {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.post-compact {
  border-radius: 5px;
  background-color: #f0f2f7;
  overflow: hidden;
  position: relative;
  height: 220px;
}

.post-compact .post-img-wrap {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.post-compact .overlay-link {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.post-compact .post-content {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 24px;
}

.post-compact:hover .post-img {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.post-img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
  object-fit: fill;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
  position: relative;
  z-index: 1;
}

.site-sidebar .ad-spot {
  margin-bottom: 32px;
}

.site-sidebar .widget {
  margin-bottom: 32px;
}

.site-sidebar .widget-title {
  margin-left: 0;
  margin-bottom: 24px;
  color: #0D61A2;
}

.widget-title {
  margin-top: 0;
  position: relative;
  margin-bottom: 24px;
}

.widget-title:after {
  content: "";
  height: 2px;
  background: #000;
  position: absolute;
  bottom: -8px;
}

.widget-title:before {
  content: "";
  height: 2px;
  background: #000;
  position: absolute;
  bottom: -8px;
}

.text-upper {
  text-transform: uppercase;
}

.section-title {
  color: #0D61A2;
}

.widget-tags .tag {
  margin: 0 8px 8px 0;
}

.tc-business {
  background-color: rgba(0, 79, 197, 0.5);
}

.tc-food {
  background-color: rgba(255, 30, 86, 0.5);
}

.tc-health {
  background-color: rgba(201, 8, 223, 0.5);
}

.tc-inspiration {
  background-color: rgba(247, 5, 162, 0.5);
}

.tc-lifestyle {
  background-color: rgba(255, 1, 163, 0.5);
}

.tc-nature {
  background-color: rgba(252, 93, 0, 0.5);
}

.tc-sports {
  background-color: rgba(156, 22, 0, 0.5);
}

.tc-technology {
  background-color: rgba(22, 135, 247, 0.5);
}

.tc-travel {
  background-color: rgba(252, 93, 0, 0.5);
}

.widget .post {
  margin-bottom: 24px;
}

.widget .post-style-two .post-img-wrap {
  width: 112px;
  height: 96px;
  margin-right: 16px;
}

.widget .post-title {
  margin: 8px 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post-style-two .post-img-wrap:hover .post-img {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.post-style-two .tag-wrap {
  line-height: .8;
}

.post-style-two .post-title a {
  color: #1a202b;
}

.tag-small {
  text-transform: uppercase;
  color: #39b209;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}

.tc-nature1 {
  color: #fc5d00;
}

.tc-travel1 {
  color: #9c1600;
}

.tc-food1 {
  color: #1687F7;
}

.tc-technology1 {
  color: #ff01a3;
}

.tc-aws1 {
  color: #ff1e56;
}

.tc-ai1 {
  color: #004fc5;
}

.post-compact.has-img .post-content {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), color-stop(60%, rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.7) 60%, rgba(0, 0, 0, 0) 100%);
  color: #fff;
  -webkit-transition: background 1s;
  transition: background 1s;
}

.post-compact.has-img .post-title {
  color: #fff;
}

.prev-next-wrap .label {
  margin-bottom: 16px;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.prev-next-wrap .label svg {
  width: 12px;
  height: 12px;
  margin-top: -3px;
  vertical-align: middle;
}

.prev-next-wrap .next-post .label svg {
  margin-right: 8px;
}

.post-style-one .post-img-wrap {
  width: 100%;
  height: 160px;
  margin-bottom: 16px;
}

.post-style-one .post-img-wrap:hover .post-img {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.post-style-one .post-title a {
  color: #1a202b;
}

.just-around {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #f0f2f7;
  background-clip: padding-box;
  border: none;
  border-radius: 0;
}

.equal-padding {
  padding-right: 20px;
}

.equal-padding:hover svg path {
  fill: #6b48ff;
}

.padding-l {
  padding-left: 10px;
}

.share-title {
  padding-right: 15px;
  font-size: 0.825rem;
  min-width: 120px;
  margin: 0;
}

.share-links {
  background-color: #f0f2f7;
  padding: 10px 0;
  border-radius: 4px;
}

section.blogBanner {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
  background: url(../../assets/images/blogbanner.jpg) no-repeat center center;
  background-size: cover;
}

.bannerOverlay {
  bottom: 0px;
  left: 0;
  color: #dedede !important;
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
}

.bannerTxt {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
}

.bannerTxt h1 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 500;
}
/*# sourceMappingURL=blog.css.map */