.effect {
  padding: 15px;
  background: #093e5f;
  align-items: center;
  color: #fff;
  border-radius: 5px;
  min-height: 175px;
}
.effect img{
  width: 35px;
}

.effect-itinfra {
  padding: 10px;
    background: #093e5f;
    align-items: center;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.effect-itinfra img{
  width: 45px;
}



.innerPart{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.icon_part{
  width: 20%;  
}
.text_part{
  color: white;
  padding: 10px;
}/*
.effect-one{
  background-color: #4bc9f5;
}
.effect-two{
  background-color: #295b9e;
}
.effect-three{
  background-color: #0083b4;
}
.effect-four{
  background-color: #325372;
}
.effect-five{
  background-color: #4bc9f5;
}
.effect-six{
  background-color: #295b9e;
}
.effect-seven{
  background-color: #0083b4;
}*/
.flipPart{
  background:#80ce9e;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  opacity: 0;
}
.hover_animation{
  opacity: 1;
  transform: skewY(-10deg);
  transition: 0.5s all ease-in-out;
}
.remove_animation{
  opacity: 0;
  transform: skewY(0deg);
  transition: 0.5s all ease-in-out;
}


.effect.effect-nine .tab-text h2 {
    transform: scale3d(.9, .9, 1);
    transition: all .5s ease-in-out;
    -webkit-transform: scale3d(.9, .9, 1);
    -webkit-transition: all .5s ease-in-out;
    z-index: 2;
    position: relative;
    
}

.effect.effect-nine p {
    font-size: .8rem;
    padding: 10px 5px;
    transform: scale3d(.8, .8, 1);
    -webkit-transform: scale3d(.8, .8, 1);
    opacity: 0;
    -webkit-transition: all .35s;
    transition: all .35s;
    font-family: Poppins;
    z-index: 2;
    position: relative;
}

.tab-text p {
    color: #fff;
    margin: 0;
    font-size: 1rem;
}
.effect.effect-nine .tab-text:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 0px);
    height: inherit;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}
.effect.effect-nine:hover img {
    opacity: .6;
    transform: translate3d(-20px, 0, 0) scale(1.1, 1.1);
    -webkit-transform: translate3d(-20px, 0, 0) scale(1.1, 1.1);
}
.effect.effect-nine:hover h2 {
    transform: scale3d(1, 1, 1);
    transition: all .5s ease-in-out;
    -webkit-transform: scale3d(1, 1, 1);
    -webkit-transition: all .5s ease-in-out;
}
.effect.effect-nine:hover p {
    transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    opacity: 1;
}
.effect.effect-nine:hover .tab-text:after {
    opacity: 1;
    top: 0;
    left: 0;
    border-top: 145px solid rgba(0, 0, 0, .5);
    border-left: 145px solid rgba(0, 0, 0, .5);
    border-bottom: 145px solid rgba(0, 0, 0, .5);
    border-right: 145px solid rgba(0, 0, 0, .5);
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation:portrait) {
  .tab-text h2 {
    font-size: 1.1rem;
  }
  .text_part h4 {
    font-size: 0.7rem;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (orientation:landscape) {
    .tab-text h2 {
    font-size: 2rem;
  }
  .text_part h4 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  .tab-text h2 {
    font-size: 2rem;
}
.text_part h4 {
  font-size: 1.5rem;
}
}

/* End of Service box animation css */

/* service Section Css */

.mainDiv{
  position: relative;
}
.expandDiv{
  position: absolute;
  top: 0;
  width: 100%;
  transform-origin: left top;
}
.modal-dialog{
  max-width: 90% !important;
  margin: 0 auto;
}
.closeDiv{
  position: absolute;
  width: 5%;
  top: 0;
  right: 2%;
  cursor: pointer;
  z-index: 2;
}

#changeBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid aqua;
  height: 56px;
  cursor: pointer;
  width: 35%;
  margin: 0 auto;
}
.prev{
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  width: 15%;
}
.prev:hover svg{
  transform:translateX(-10px) rotate(180deg);
  transition: 0.4s all ease-in-out;
}
.prev svg{
  transform: rotate(180deg);
  transition: 0.4s all ease-in-out;
}
.next{
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  right: 0;
  justify-content: space-between;
}
.next:hover svg{
  transform:translateX(10px);
  transition: 0.4s all ease-in-out;
}
.next svg{
  margin-right: 15px;
  transition: 0.4s all ease-in-out;
}

.iconPart{
  font-size:40px;
  color: #1e73be;
}

.leftPart{ 
  display: flex;  
}

/* .icon_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .30s ease-in-out;
    -ms-transition: all .30s ease-in-out;
    -o-transition: all .30s ease-in-out;
    transition: all .30s ease-in-out;
    position: relative;
} */
.icon_box:hover .services_cta {    
    border-color: transparent;
    z-index: 1;
    background:#f5f7f6!important;
    opacity: 1;
}
.icon_box:hover:before {
    opacity: 1;
}

.services-wrap{ 
  width:100%;
  padding: 15px 0;
  cursor: pointer;
  transition: 300ms all; 
  border-radius: 20px;
}
.services-content {
  padding: 30px;
  border-radius: 20px;
  font-size: 0.8rem;
}
.services-heading .fa,.services-heading .fab{
  height: auto;
  margin: auto;
  font-size: 35px;
  color: #1e73be;
}
.services-heading h4{
  font-size: 1rem;
}
.services-heading h5 {
  margin-top: 10px;
  padding: 0px 10px;
}
.content_part{
  padding:10px 20px;
}
.expandedPart .content_part{
  padding:0px;
}
.overlay{
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  background: #000;
  opacity: 0.3;
}
.services-wrap li:before {
  content: "";
  position: absolute;
  left: 25px;
  width: 20px;
  height: 25px;
  background-image: url(../../assets/images/li-circle.png);
  background-size: 20px 20px;
  background-position-y: 2px;
  background-repeat: no-repeat;
}
.services_cta{
    opacity: 0;
    transition: 0.2s all ease-in;
}
.services_cta a.buttonDefault{
  padding: 2% 5%;
}
a.buttonDefault {
  display: inline-block;
  font-size: 13px;
  margin-top: 15px;
  text-decoration: none !important;
  color: rgb(38, 171, 226);
  border: 2px solid rgb(38, 171, 226);
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  padding: 1%;
}
a.buttonDefault span {
  position: relative;
  z-index: 2;
}
a.buttonDefault:hover {
  color: #fff;
}
a.buttonDefault:hover:after {
  width: 100%;
}
a.buttonDefault:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(38, 171, 226);
  transition: all .35s;
}
.services_cta button{
  border: none;
  outline: none;
  background: #1e73be;
  padding: 20px 35px;
  border-radius: 50px;
  color: #fff;
  font-size: 1.1rem;
}
.services-wrap:hover {
  box-shadow: 0px 24px 15px -15px rgba(0, 0, 0, 0.4);
  background:#f5f7f6!important;

}
@media only screen and (orientation:portrait){
 .services-content {      
    font-size: 0.7rem;
  }
  .expandedPart{
    height:560px;
    z-index: 9;
  }
  
  .closeDiv {    
    width: 15%;    
}
.leftPart {    
    width: 100%;    
    padding: 50px 0;   
    font-size: 13px;
    top: 10px;
  }
  .content_part p,#changeBtn .next p{
    line-height: 20px;
  }
	.rightPart {
    width: 100%;    
    padding: 4px 0;    
    top: 35%;
    left:0;
}
#changeBtn {    
    width: 85%;  
    font-size:15px;  
}

} 
@media only screen and (min-device-width:760px) and (max-device-width:780px) and (orientation:portrait){
  .services-wrap{
    height: 670px;
  }
}
.software__development__service li:before{
    content: ""; 
    position:absolute;
    left:15px; 
    width:20px;
    height: 25px; 
    background-image: url('../../assets/images/li-circle.png'); 
    background-size:20px 20px; 
    background-position-y: 2px; 
    background-repeat: no-repeat;
} 
.software__development__service ul{
   list-style-type: none;
}
.software__development__service li{
   padding-left: 25px;
   margin-bottom: 10px;
} 

/* End of service Section Css */
.qa-box {
  min-height: 120px;
}